#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


label {
  margin: .5em;
  font-size: 2em;
  font-variant-numeric: tabular-nums;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 1em;
}

label span:last-child {
  width: 2ch;
}