:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #FBEDD3;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #1d24ba;
  text-decoration: inherit;
}

a:hover {
  color: #1d24ba;
}

body {
  margin: 0;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 4em;
  line-height: 1.1;
  min-width: 30vw;
}

button {
  color: #FBEDD3;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #d4d6ef;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem
}

.moon {
  height: 3rem;
}

.Main__generator {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7rem;
}

.main__generator svg {
  background-image: url('./assets/magicball.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 7rem;
  padding-bottom: 13rem;
}

.Controlers {
  margin-top: -8rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px #FBEDD3 solid;
  border-radius: 20px;
  padding: 1rem;
}

.Sunshape {
  position: inherit !important;
  left: 3rem
}

.download__button {
  margin-top:-3rem  
}
